.container{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: lightgray ;
    border-radius: 50%;
    padding: 20px;
    
}

#display{
    
    text-align: center;
    margin-top: auto;
    padding: 40px 10px;
   
    display: block;
}

#startStop{
    width: 80px;
    height: 50px;
    border-radius: 8px;
    border : 4px solid black;
    margin: auto;
    display: block;
}
#reset{
    width: 80px;
    height: 50px;
    border-radius: 8px;
    border : 4px solid black;
    margin: auto;
    display: block;

}